<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <!-- https://github.com/patrickelectric/bluerov_ros_playground/blob/75c6adb3ddace7bf2e696f2f5cd4651cc91b26fb/model/BlueRov2/BlueRov2.sdf -->
        <plugin name="ArduPilotPlugin" filename="libArduPilotPlugin.so">
        <fdm_addr>127.0.0.1</fdm_addr>
        <fdm_port_in>9002</fdm_port_in>
        <fdm_port_out>9003</fdm_port_out>
        <imuName>bluerov2::bluerov2/base_link::imu_sensor</imuName>
        <connectionTimeoutMaxCount>10</connectionTimeoutMaxCount>
        <!-- <lockstep>true</lockstep>   -->
        <!--
          Require by APM :
          Only change model and gazebo from XYZ to XY-Z coordinates
         -->
        <!-- <modelXYZToAirplaneXForwardZDown>0 0 0 3.141593 0 0</modelXYZToAirplaneXForwardZDown>
        <gazeboXYZToNED>0 0 0 3.141593 0 0</gazeboXYZToNED> -->
        <!--
            incoming control command [0, 1]
            so offset it by -0.5 to get [-0.5, 0.5].
            multiplier = 75
            Positive thrust = 51
            Negative thrust = -41
        -->
            <control channel="0">
            <type>EFFORT</type>
            <offset>-0.5</offset>
            <p_gain>1</p_gain>
            <i_gain>0</i_gain>
            <d_gain>0</d_gain>
            <i_max>0</i_max>
            <i_min>0</i_min>
            <cmd_max>51</cmd_max>
            <cmd_min>-40</cmd_min>
            <linkName>bluerov2/thruster_sitl_0</linkName>
            <jointName>bluerov2/thruster_sitl_0_joint</jointName>
            <multiplier>75</multiplier>
            </control>

            <control channel="1">
            <type>EFFORT</type>
            <offset>-0.5</offset>
            <p_gain>1</p_gain>
            <i_gain>0</i_gain>
            <d_gain>0</d_gain>
            <i_max>0</i_max>
            <i_min>0</i_min>
            <cmd_max>51</cmd_max>
            <cmd_min>-40</cmd_min>
            <linkName>bluerov2/thruster_sitl_1</linkName>
            <jointName>bluerov2/thruster_sitl_1_joint</jointName>
            <multiplier>75</multiplier>
            </control>

            <control channel="2">
            <type>EFFORT</type>
            <offset>-0.5</offset>
            <p_gain>1</p_gain>
            <i_gain>0</i_gain>
            <d_gain>0</d_gain>
            <i_max>0</i_max>
            <i_min>0</i_min>
            <cmd_max>51</cmd_max>
            <cmd_min>-40</cmd_min>
            <linkName>bluerov2/thruster_sitl_2</linkName>
            <jointName>bluerov2/thruster_sitl_2_joint</jointName>
            <multiplier>75</multiplier>
            </control>

            <control channel="3">
            <type>EFFORT</type>
            <offset>-0.5</offset>
            <p_gain>1</p_gain>
            <i_gain>0</i_gain>
            <d_gain>0</d_gain>
            <i_max>0</i_max>
            <i_min>0</i_min>
            <cmd_max>51</cmd_max>
            <cmd_min>-40</cmd_min>
            <linkName>bluerov2/thruster_sitl_3</linkName>
            <jointName>bluerov2/thruster_sitl_3_joint</jointName>
            <multiplier>75</multiplier>
            </control>


            <control channel="4">
            <type>EFFORT</type>
            <offset>-0.5</offset>
            <p_gain>1</p_gain>
            <i_gain>0</i_gain>
            <d_gain>0</d_gain>
            <i_max>0</i_max>
            <i_min>0</i_min>
            <cmd_max>51</cmd_max>
            <cmd_min>-40</cmd_min>
            <linkName>bluerov2/thruster_sitl_4</linkName>
            <jointName>bluerov2/thruster_sitl_4_joint</jointName>
            <multiplier>75</multiplier>
            </control>

            <control channel="5">
            <type>EFFORT</type>
            <offset>-0.5</offset>
            <p_gain>1</p_gain>
            <i_gain>0</i_gain>
            <d_gain>0</d_gain>
            <i_max>0</i_max>
            <i_min>0</i_min>
            <cmd_max>51</cmd_max>
            <cmd_min>-40</cmd_min>
            <linkName>bluerov2/thruster_sitl_5</linkName>
            <jointName>bluerov2/thruster_sitl_5_joint</jointName>
            <multiplier>75</multiplier>
            </control>
        </plugin>
    </gazebo>
</robot>